.site-container {
  display: flex;
  flex-direction: row;

  & > div:first-child {
    flex-shrink: 0;
    flex-basis: auto;
    width: 250px;
    background-color: black;
    color: white;
  }
  & > div:last-child {
    flex: 1 0 0;
    margin: 1rem;
  }
}